<footer class="bg-dark">
    <div class="container py-5 text-center text-white">
      <div class="row py-3">

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">A Python ML Project</h6>
          <p class="mb-3">Designed and brought to life by <br> Team Code_lagoons</p>
       
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Project H20</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.linkedin.com/in/mohammed-hamza-548320209/" class="text-white">LinkedIn</a></li>
            <li class="mb-2"><a href="https://github.com/Hamza08dev/" class="text-white">GitHub</a></li>
            <li class="mb-2"><a href="mailto:mdhamza.9060@gmail.com" class="text-white">Email</a></li>
          </ul>
        </div>
       
      </div>
	<h6 class="text-uppercase font-weight-bold mb-4"> Team members: Hamza, Naman, Manan, Arbab</h6>

    </div>
    <hr>

   
    <div class="bg-secondary py-2">
      <div class="container text-center">
        <p class="text-white mb-0 py-2">&copy; 2023 Project Lagoon. All rights reserved.</p>
        
        </div>
      </div>
    
  </footer>
